# Python Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/
env/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Data files & Datasets
*.csv
*.xlsx
*.parquet
*.json
*.sqlite3

# Environment Variables & Secrets
.env
.env.local

# IDE / Code Editor Settings
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db